@using System.Threading.Tasks;
@using CafeManagementSystemProject.Models;
@using CafeManagementSystemProject.Services;
@using CafeManagementSystemProject.Repositories;
@inject ProductService IProductService;
@inject Product product;
@model List<Product>

    <!DOCTYPE html>
    <html>
        <head>
            <title>Create Products</title>
        </head>
        <body>
            <div>
                <h1>Add Product</h1>
                <form method="post" asp-controller="ProductController" asp-action="CreateProduct" asp-route="@Model.ToList()">
            <p>
                <span>Product Id:</span>
                <input type="number" name="roduct_id" />
            </p>
            <p>
                <span>Product Name:</span>
                <input type="text" name="productName" />
            </p>
            <p>
                <span>Product Type:</span>
                <input type="text" name="productType" />
            </p>
            <p>
                <span>Price:</span>
                <input type="number" name="price" />
            </p>
            <p>
                <span>Is it Cold:</span>
                <input type="checkbox" name="is_cold" />
            </p>
            <p>
                <span>Is it Vegan:</span>
                <input type="checkbox" name="is_vegan" />
            </p>

            <button type="submit">Create Product</button>
            <button>
                < asp-controller="Product" asp-action="Index">Cancel</>
            </button>
                </form>
            </div>
        </body>
    </html>

